In [9]:
import pandas as pd
olist_data = pd.read_csv('C:\\Users\\solomon kure\\Desktop\\olist_customers_dataset.csv')
olist_dummy = pd.get_dummies(['olist_data','customer_id','customer_unique_id'],drop_first = True)
olist_dummy = pd.concat([olist_data,olist_dummy],axis= 1)
olist_dummy.drop(columns = ['customer_id','customer_unique_id'], axis = 1,inplace = True)
olist_dummy.head()

   customer_zip_code_prefix          customer_city customer_state olist_data
0                     14409                 franca             SP       True
1                      9790  sao bernardo do campo             SP      False
2                      1151              sao paulo             SP      False
3                      8775        mogi das cruzes             SP        NaN
4                     13056               campinas             SP        NaN